body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #606060;
}

.border{
    width: 160px;
    height: 5px;
    background: #0abde3;
    margin: 15px auto;
}

.display-flex-center{
    display: flex;
    justify-content: center;
}

.userlist-title-container{
    color: white;
    margin: 10px 0;
}

.userlist{
    margin-bottom: 20px;
}

.userlist-search-container{
    display: flex;
}

.userlist .search-input{
    background: none;
    border: 2px solid #404040;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px 0 0 24px;
    box-shadow: 0 4px 4px #404040;
    transition: 0.25s;
}

.add-user-checkbox{
    margin: 0 20px;
}

.search-input::placeholder{
    color: white;
}

.listuser-submit-button{
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #0abde3;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: white;
    border-radius: 0 24px 24px 0;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold; 
    box-shadow: 0 4px 4px #404040;
}

.listuser-submit-button:hover{
    background : #0abde3;
}

.submit-button-container{
    display: flex;
    justify-content: center;
}
.buttons-container{
    display: flex;
    justify-content: center
}

.add-user-button{
    background: none;
    display: block;
    margin: 20px;
    text-align: center;
    border: 2px solid #0abde3;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold; 
    box-shadow: 0 4px 4px #404040;
}

.add-user-button:hover{
    background : #0abde3;
}

.listuser-button.submit{
    background: none;
    display: block;
    margin: 50px 20px;
    text-align: center;
    border: 2px solid #0ae315;
    padding: 14px 10px;
    width: 50px;
    outline: none;
    color: white;
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold; 
    box-shadow: 0 4px 4px #404040;
}

.listuser-button.submit:hover{
    background : #0ae315;
}

.listuser-button.cancel{
    background: none;
    display: block;
    margin: 50px 20px;
    text-align: center;
    border: 2px solid #e30a0a;
    padding: 14px 10px;
    width: 50px;
    outline: none;
    color: white;
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold; 
    box-shadow: 0 4px 4px #404040;
}

.listuser-button.cancel:hover{
    background : #e30a0a;
}

.user-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px 20px;
}
.userlist-container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.user-infos{
    display: flex;
    align-items: center;
}